global
    log stdout format raw local0

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 10s
    timeout client 1m
    timeout server 1m

frontend mysql
    bind *:3306
    default_backend galera_cluster

backend galera_cluster
    balance roundrobin
    option mysql-check user root

    server mariadb1 mariadb1:3306 check
    server mariadb2 mariadb2:3306 check
    server mariadb3 mariadb3:3306 check
