[mysqld]

bind-address=0.0.0.0
binlog_format=ROW
default-storage-engine=innodb
innodb_autoinc_lock_mode=2

# Galera
wsrep_on=ON
wsrep_provider=/usr/lib/galera/libgalera_smm.so

wsrep_cluster_name="galera-cluster"
wsrep_cluster_address="gcomm://mariadb1,mariadb2,mariadb3"

wsrep_sst_method=rsync

# Performance
innodb_buffer_pool_size=256M
innodb_flush_log_at_trx_commit=0
